.project-Eiffel { border-bottom: 5px solid #946d57; }
.project-Java { border-bottom: 5px solid #b07219; }
.project-VHDL { border-bottom: 5px solid #543978; }
.project-Scala { border-bottom: 5px solid #7dd3b0; }
.project-EmacsLisp { border-bottom: 5px solid #c065db; }
.project-Delphi { border-bottom: 5px solid #b0ce4e; }
.project-Ada { border-bottom: 5px solid #02f88c; }
.project-VimL { border-bottom: 5px solid #199c4b; }
.project-Perl { border-bottom: 5px solid #0298c3; }
.project-Lua { border-bottom: 5px solid #fa1fa1; }
.project-Objective-J { border-bottom: 5px solid #ff0c5a; }
.project-Rebol { border-bottom: 5px solid #358a5b; }
.project-Verilog { border-bottom: 5px solid #848bf3; }
.project-Factor { border-bottom: 5px solid #636746; }
.project-Ioke { border-bottom: 5px solid #078193; }
.project-Erlang { border-bottom: 5px solid #949e0e; }
.project-Nu { border-bottom: 5px solid #c9df40; }
.project-D { border-bottom: 5px solid #fcd46d; }
.project-Shell { border-bottom: 5px solid #5861ce; }
.project-Assembly { border-bottom: 5px solid #a67219; }
.project-ooc { border-bottom: 5px solid #b0b77e; }
.project-Csharp { border-bottom: 5px solid #bb92af; }
.project-Turing { border-bottom: 5px solid #45f715; }
.project-AppleScript { border-bottom: 5px solid #3581ba; }
.project-Arduino { border-bottom: 5px solid #bd79d1; }
.project-CommonLisp { border-bottom: 5px solid #3fb68b; }
.project-Dart { border-bottom: 5px solid #cccccc; }
.project-SuperCollider { border-bottom: 5px solid #46390b; }
.project-CoffeeScript { border-bottom: 5px solid #244776; }
.project-XQuery { border-bottom: 5px solid #2700e2; }
.project-Arc { border-bottom: 5px solid #ca2afe; }
.project-Elixir { border-bottom: 5px solid #6e4a7e; }
.project-HaXe { border-bottom: 5px solid #346d51; }
.project-PureData { border-bottom: 5px solid #f15501; }
.project-Ruby { border-bottom: 5px solid #701516; }
.project-Self { border-bottom: 5px solid #0579aa; }
.project-Fantom { border-bottom: 5px solid #dbded5; }
.project-Groovy { border-bottom: 5px solid #e69f56; }
.project-C { border-bottom: 5px solid #555; }
.project-JavaScript { border-bottom: 5px solid #f15501; }
.project-AutoHotkey { border-bottom: 5px solid #6594b9; }
.project-Parrot { border-bottom: 5px solid #f3ca0a; }
.project-Max { border-bottom: 5px solid #ce279c; }
.project-Cplusplus { border-bottom: 5px solid #f34b7d; }
.project-StandardML { border-bottom: 5px solid #dc566d; }
.project-Objective-C { border-bottom: 5px solid #f15501; }
.project-R { border-bottom: 5px solid #198ce7; }
.project-Mirah { border-bottom: 5px solid #c7a938; }
.project-Boo { border-bottom: 5px solid #d4bec1; }
.project-Clojure { border-bottom: 5px solid #db5855; }
.project-Rust { border-bottom: 5px solid #dea584; }
.project-Prolog { border-bottom: 5px solid #74283c; }
.project-Gosu { border-bottom: 5px solid #82937f; }
.project-FORTRAN { border-bottom: 5px solid #4d41b1; }
.project-ColdFusion { border-bottom: 5px solid #ed2cd6; }
.project-Fancy { border-bottom: 5px solid #7b9db4; }
.project-Nemerle { border-bottom: 5px solid #0d3c6e; }
.project-Ecl { border-bottom: 5px solid #8a1267; }
.project-Dylan { border-bottom: 5px solid #3ebc27; }
.project-Nimrod { border-bottom: 5px solid #37775b; }
.project-Go { border-bottom: 5px solid #8d04eb; }
.project-Python { border-bottom: 5px solid #3581ba; }
.project-Tcl { border-bottom: 5px solid #e4cc98; }
.project-Haskell { border-bottom: 5px solid #29b544; }
.project-Puppet { border-bottom: 5px solid #cc5555; }
.project-Io { border-bottom: 5px solid #a9188d; }
.project-OCaml { border-bottom: 5px solid #3be133; }
.project-Racket { border-bottom: 5px solid #ae17ff; }
.project-ASP { border-bottom: 5px solid #6a40fd; }
.project-VisualBasic { border-bottom: 5px solid #945db7; }
.project-PHP { border-bottom: 5px solid #6e03c1; }
.project-Scheme { border-bottom: 5px solid #1e4aec; }
.project-Vala { border-bottom: 5px solid #3581ba; }
.project-Smalltalk { border-bottom: 5px solid #596706; }
.project-Matlab { border-bottom: 5px solid #bb92ac; }
